/* general   styles for home page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;

}

/* * h2{
         color: red;
      } */
* section,
footer {
    width: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    /* display: flex;
          justify-content: center;
          align-items: center; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;

}

main {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    row-gap: 30px;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-rows: auto auto;
        /* Add more rows as needed */
        /* overflow-x: hidden; */
    }

    body {
        font-family: 'Roboto', Arial, sans-serif;
        background-color: #e2e2e2;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-size: 16px;

    }
}



@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Adjust font sizes for other elements as needed */

/* header styles goes here */



header {
    background-color: #ffffffc7;
    color: #242222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0px;
    z-index: 5;
    position: fixed;
    width: 100%;
    font-weight: 550;
    border-bottom: 1px solid #ddd;
}

header a {
    text-decoration: none;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: crosshair;
    text-align: center;

}

.logo p {
    color: #242222;
    font-size: 20px;
    font-weight: 700;
}

.icon-plane {
    height: 40px;
    width: 40px;

}

.nav-section {
    display: flex;
    flex-direction: row;
}

.nav {
    color: #242222;
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px;
    transition: color 0.3s;
    padding: 5px 8px;
    border-radius: 8px;

}

.nav:hover {
    color: #2F5A78;
    background-color: rgb(248, 181, 58);
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions button {
    font-weight: 550;

    background-color: transparent;
    color: #242222;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s;
}

.Signup-btn {
    border: solid 1.5px black;
    padding: 4px 6px;
    border-radius: 4px;
    transition: color 0.3s;
    display: inline-block;
    isolation: isolate;
    position: relative;

}

.Signup-btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgb(248, 181, 58);
    inset: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 450ms;
}

.Signup-btn:hover::after,
.Signup-btn:focus-visible::after {
    transform-origin: left;
    transform: scaleX(1);
}

.login-btn {
    border: none;
    font-size: 15px;
    transition: color 0.3s;
    padding: 5px 8px;
    border-radius: 8px;
}

.login-btn:hover {
    background-color: rgb(248, 181, 58);
}

.user-actions button:hover {
    color: #2F5A78;

}

select {
    font-weight: 550;
    background-color: transparent;
    color: #242222;
    border: none;
    cursor: pointer;
}

#myselect:focus {
    outline: orange;
}

.header2 {
    display: none;
}


/* responsive styles */
@media (max-width: 750px) {
    header {
        display: none;
    }

    .header2 {
        background-color: #ffffffe3;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 100%;
        row-gap: 15px;
        padding: 5px 3px;
        position: fixed;
    }

    .header2 a {
        text-decoration: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .nav-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 15px;

    }

    .nav-section button {
        background-color: transparent;
        color: #000000;
        cursor: pointer;
        margin: 0px 5px;
        transition: color 0.3s;
    }

    .login-btn:hover {
        background-color: rgb(248, 181, 58);
    }

    .nav {
        color: #000000;
        text-decoration: none;
        font-size: 14px;
        margin: 0px 5PX;
        transition: color 0.3s;
        padding: 5px 7px;
        border-radius: 8px;
        left: -3px;
    }


    .Signup-btn {
        width: 65px;
    }
}

@media (max-width: 650px) {
    .nav-section {

        column-gap: 1px;
        left: -50px;
    }
}


.service-things {
    /* background-color: red; */
    /* height: 50px; */
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.service-things-card {
    background: rgb(0, 207, 235);
    padding: 5px;
    border-radius: 8px;

}

.service-things-btn {
    border: none;
    color: white;
    background: rgb(0, 207, 235);
    padding: 5px;
    border-radius: 8px;
    width: 80px;

}

.service-things-btn:hover {
    border: none;
    color: rgb(0, 207, 235);
    background: rgb(255, 255, 255);

}

.service-things-btn img {
    height: 30px;
    width: 30px;
    color: black;
}

.service-things-btn p {
    font-size: 12px;
    margin-top: 5px;
}



/* 
        <!-- section 1 background image included part -->

*/



.display-main {
    position: relative;
    height: 700px;
    background-color: #2F5A78;
    /* object-fit: cover; */
    /* background-image: url('/images/nature.jpeg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat; */
    /* z-index: 2; */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #e2e2e2fa;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.253), 0px 0px 50px 55px #e2e2e2;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainp-1 {
    color: rgb(243, 190, 92);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
}

.mainp-2 {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 15px;
    /* width: 350px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-shadow: 2px 2px 4px rgb(109, 50, 50);

}

.mainp-3 {
    color: rgb(248, 248, 248);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 550;
    word-spacing: 1px;
    width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 80px;
    line-height: 18px;

}

.main-btn1 {
    padding: 11px 12px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 190, 11, 0.726);
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.2s, transform 0.2s;
}

.main-btn1:hover {
    transform: scale(1.08);
    background-color: rgba(226, 166, 0, 0.829);
}

.main-btn2 {
    padding: 12px 13px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border: none;
    background: linear-gradient(to bottom, rgba(102, 27, 199, 0.747) 0%, rgba(14, 62, 219, 0.747) 100%);

    color: #ffffff;
    font-weight: bold;
    width: 180px;
}

.main-btn2::placeholder {
    color: white;
}

.main-btn2:focus {
    outline: 2px solid blue;
}

.search-container {
    position: relative;
    display: inline-block;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 6px;
    /* Adjust as needed for the icon's position */
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.747);
    background-color: #f0f0f0;
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 20px;
}

.display-main-services {
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.726)50%, rgba(14, 62, 219, 0.747)); */
    position: relative;
    /* height: 500px; */
    margin-bottom: 80px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: #e2e2e2;
    box-shadow: 0px -12px 4px #e2e2e2;
    ;
}

.display-main-services h2 {
    display: flex;
    justify-content: center;
    font-weight: 550;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', serif;
    /* text-shadow: 2px 2px 4px rgb(59, 59, 59); */
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;


}

.display-main-services-grid {
    display: grid;
    padding-right: 80px;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-content: center;
    column-gap: 130px;
    row-gap: 20px;
}

.services-btn {
    padding: 10px;
    width: 290px;
    text-align: start;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgba(209, 17, 17, 0.247);
    height: 60px;
    cursor: context-menu;
}

.services-btn p {
    margin-left: 55px;
}


.services-icon {
    /* margin-top: 3px; */
    margin-bottom: -10px;
    height: 40px;
    width: 40px;
    padding: 4px;
    border-radius: 40px;
    cursor: cell;
    color: #fff;
    /* background-color: black; */


}

.s-icon-1 {
    background-color: rgb(106, 45, 206);
    color: #fff;

}

.s-icon-2 {
    background-color: rgb(241, 92, 23);
    color: #fff;

}

.s-icon-3 {
    background-color: rgb(233, 13, 123);
    color: #fff;

}

.s-icon-4 {
    background-color: rgb(34, 172, 6);
    color: #fff;

}

.services-btn-container {
    position: relative;
    display: inline-block;
}

.services-icon-container {
    position: absolute;
    top: 25px;
    /* background-color: #0056b3; */
    /* Adjust as needed for the icon's position */
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.747);
    /* background-color: #f0f0f0; */
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 20px;
}


@media (max-width: 750px) {


    .display-main-services-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        column-gap: 130px;
        row-gap: 30px;
    }

    .services-btn-container {
        padding-left: 150px;
    }

    .services-btn {
        padding: 10px;
        text-align: start;
        border: none;
        border-radius: 50px;
        box-shadow: 0px 2px 5px rgba(209, 17, 17, 0.247);
        height: 60px;
        cursor: context-menu;
    }

    .S-btn-1 {
        left: -80px;
    }

    /* .S-btn-2 {
        left: 10px;
     } */

    .S-btn-3 {
        left: -80px;
    }

    /* .S-btn-4 {
        right: 0px;
     } */

    .services-btn p {
        margin-left: 55px;
    }

    .display-main-services h2 {
        font-family: 'Roboto Slab', serif;
        text-shadow: none;
        font-weight: 550;
        font-size: 30px;
        letter-spacing: 1px;
        word-spacing: 3px;


    }

}

/* <!-- section 2 services part -->*/



#Destination {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 15px;
}

.package-head {
    text-align: center;
    padding: 10px;
}

.package-head h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.package-head p {
    letter-spacing: 1px;
    word-spacing: 5px;
}

.package-card-grid-parent {
    max-width: 1100px;
    width: 100%;
    position: relative;
    padding: 0px 15px;
    /* Adjust padding as needed */
    /* background-color: red; */

}

.package-card-grid-parent i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.package-card-grid-parent i:first-child {
    left: -30px;
}

.package-card-grid-parent i:last-child {
    right: -20px;
}

.package-card-grid-parent .package-card-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 16px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.package-card-grid::-webkit-scrollbar {
    display: none;
}

.package-card-grid {
    /* list-style: none; */
    /* display: flex; */
    /* margin: 0; */
    margin-top: 20px;
    /* margin-left: 40px; */
    /* background-color: rgb(23, 39, 179); */
    /* padding: 0px 55px; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* column-gap: 55px; */
    /* padding: 5px 25px; */
    /* justify-content: center;
     align-items: center;  */
    /* padding: 0px 60px; */
    /* width: 100%; */
}

.package-card .package-card-grid {
    scroll-snap-align: start;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.package-card-grid.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.package-card-grid.dragging .package-card {
    cursor: grab;
    user-select: none;
}

.package-card {
    /* background-color: red; */
    /* height: 300px; */
    border-radius: 20px;
    padding: 0px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.package-image {
    height: 220px;
    border-radius: 20px;

}

.package-image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.package-card-details {
    margin-top: -10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #fff;
    border-radius: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

.package-card-details h2 {
    font-weight: 900;
}

.package-card-details p {
    width: 100%;
    font-size: 12px;
    color: rgb(32, 32, 32);
}

.package-details-bottom {
    display: flex;
    margin-top: 7px;
    margin-bottom: 4px;
}

.package-details-bottom button {
    width: 110px;
    color: white;
    background-color: orange;
    border: none;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;

}

.package-details-bottom p {
    display: flex;
    justify-content: end;
    /* align-items: center; */
}

.package-details-bottom .span1 {
    display: flex;
    align-items: center;
    font-weight: 700;

}

.package-details-bottom .span2 {
    font-size: 8px;
    display: flex;
    padding-top: 5px;
    align-items: center;
    color: rgb(83, 83, 83);


}


@media screen and (max-width: 950px) {
    .package-card-grid-parent .package-card-grid {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    .package-card-grid-parent {
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: 650px;
        /* background-color: green; */
        padding: 5px 35px;


    }

    .package-card-grid {
        padding: 5px 20px;
        /* justify-content: center;
            display: flex;
            align-items: center; */
        /* justify-content: space-around; */
    }

    .package-head h2 {

        font-size: 30px;
        word-spacing: 3px;
    }
}

@media screen and (max-width: 700px) {
    .package-card-grid-parent .package-card-grid {
        grid-auto-columns: calc((100% / 1) - 9px);
        gap: 12px;

    }

    .package-card-grid-parent {
        justify-content: center;
        display: flex;
        align-items: center;
        max-width: 400px;
        /* background-color: green; */
        padding: 5px 35px;


    }

    .package-card-grid {
        padding: 5px 20px;
        /* justify-content: center;
            display: flex;
            align-items: center; */
        /* justify-content: space-around; */
    }

}

@media screen and (max-width: 450px) {
    .package-card-grid-parent .package-card-grid {
        grid-auto-columns: 100%;
    }

    .package-card-grid-parent {
        max-width: 400px;
        padding: 0px 0px;
    }

}


/* 
<!-- section 3 destinations part -->
*/


#things-to-do {
    margin-bottom: 60px;
    padding: 0px 15px;
}

.things-to-do-head-parent-dad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}

.things-to-do-head-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.things-to-do-head {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.things-to-do-head h2 {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;
    /* text-transform: capitalize; */

}

.things-to-do-head p {
    line-height: 17px;
    font-size: 13px;
    letter-spacing: 1px;
    /* word-spacing: 1px; */

}

.things-to-do-logo {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
}

.things-to-do-logo img {
    /* height: 100% + 10px; */

    width: 110px;
}

.things-to-do-card-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));  */

    gap: 15px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
}

.things-to-do-card {
    background-color: #ffffff;
    height: 200px;
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    padding: 25px;
    padding-right: 50px;
    border-radius: 3px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.23);


}

.things-card-details-logo {
    height: 50px;
    width: 50px;
    /* background-color: red; */
}

.things-card-details-logo img {
    height: 100%;
    width: 100%;
}

.things-card-details-content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.things-card-details-content h4 {
    font-weight: 550;
}

.things-card-details-content p {
    font-size: 13px;
    line-height: 20px;
    color: rgb(90, 90, 90);
}

@media screen and (max-width: 900px) {
    .things-to-do-card-grid {
        grid-template-columns: auto;
        row-gap: 20px;

    }

    .things-to-do-head h2 {
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0px;
        word-spacing: 0px;
        /* text-transform: capitalize; */

    }
}

@media screen and (max-width: 600px) {
    .things-to-do-card-grid {
        grid-template-columns: auto;
        row-gap: 20px;

    }

    /* .things-to-do-card-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    } */
}


/*
        <!-- section 4 things to do part -->

*/

#user-experience {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 35px;
}

.experience-head {
    text-align: center;
    padding: 10px;
}

.experience-head h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.experience-head p {
    letter-spacing: 1px;
    word-spacing: 5px;
}

.experience-card-grid-parent {
    max-width: 1100px;
    width: 100%;
    position: relative;
    padding: 0px 30px;
    /* 
     display: grid;
     grid-template-columns: 1fr;
     height: 600px;
     justify-content: center;
     align-items: center;
     padding: 15px 3px;
      */
}

.experience-card-grid-parent i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    bottom: -80px;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* .experience-card-grid-parent i:first-child{
    background-color: red;
     } */
.left-i {
    right: 80px;
}

.experience-card-grid-parent i:last-child {
    right: 10px;
    /* background-color: red; */

}

.experience-card-grid-parent .experience-card-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}

.experience-card-grid::-webkit-scrollbar {
    display: none;
}

.experience-card-grid {
    margin-top: 60px;
    /* z-index: -1; */
}

/* .experience-card-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 20px;
     justify-content: space-around;
     padding: 5px 30px;
     margin-top: 40px;
 } */
.experience-card-grid .experience-card {
    scroll-snap-align: start;

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;


}

.experience-card-grid.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.experience-card-grid.dragging .experience-card {
    cursor: grab;
    user-select: none;
}

.experience-card {
    background-color: rgba(179, 176, 176, 0.479);
    border-radius: 5px;
    width: 420px;
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
    /* height: 300px; */
}

.experience-card-logo {
    margin-top: 5px;
    margin-left: -280px;
    /* position: absolute; */
    /* overflow: hidden; */
    /* z-index: ; */
}

.experience-card-logo img {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

.experience-card-details {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    /* margin-top: 30px; */

}

.review-p-1 {
    color: grey;
    font-size: 13px;
    /* width: 390px; */
}

.review-p-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-p-2 img {
    height: 16px;

}

.review-p-3 {
    color: grey;
}

.review-p-3 span {
    font-size: 13px;
}

@media screen and (max-width: 800px) {
    .experience-card-grid-parent .experience-card-grid {
        grid-auto-columns: calc((100% / 1) - 9px);
    }

    .experience-card-grid-parent {
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* #user-experience {
    background-color: green;
} */
}

@media screen and (max-width: 600px) {
    .experience-card-grid-parent .experience-card-grid {
        grid-auto-columns: 100%;
    }

    .experience-card-grid-parent {
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* footer styles goes here */


footer {
    background-image: url('Group_610bg.png');
    /* height: 400px; */
    /* background-color: rgb(23, 226, 209); */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
    /* padding: 60px 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Group_610bg.png');
    background-size: cover;
    background-position: center;
}

.footer-card {
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(71, 90, 71, 0.226);
    border-radius: 15px;

    /* display: flex;
     justify-content: center;
     align-items: center;
     background-image: url('/images/travel5.jpeg');
     background-size: cover;
     background-position: center;
     border-radius: 10px;
     overflow: hidden;
     position: relative; */

    padding: 20px;

    /* padding-bottom: 10px;
     padding-top: 10px;
     padding-left: 10px;
     padding-right: 10px; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 1px -1px 1px white, inset 0px 1px 1px white;

}

.footer-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.footer-head-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.footer-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
}

.footer-head p {
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.footer-head h2 {
    font-size: 30px;
    color: white;
    word-spacing: 5px;

}

.footer-button {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    row-gap: 6px;
}

.footer-button button {
    width: 80px;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    font-weight: 600;
}

.signin-footer {
    background-color: rgb(0, 147, 167);
    color: white;

}

.signup-footer {
    color: rgb(0, 147, 167);
}

.footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.footer-contact {
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    /* justify-content: baseline; */
    align-items: left;
}

.footer-contact h2 {
    font-size: 15px;
    display: flex;
}

.icon-plane-footer {
    height: 20px;
    width: 20px;
}

.footer-contact p {
    color: #fff;
    font-size: 11px;
}

.footer-table {
    /* display: grid; */

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.footer-table td,
.footer-table th {
    padding: 8px;
}

.footer-table td {
    color: #ddd;
    font-size: 12px;
}

.footer-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

@media screen and (max-width:900px) {
    footer {
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* max-width: 700px; */

    }

    .footer-card {
        padding: 20px;
        margin: 30px;
        max-width: 500px;


    }

    .footer-main {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
}