     /* general   styles for home page*/
     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: 'Roboto', Arial, sans-serif;

     }
     
     /* * h2{
        color: red;
     } */
/* * section ,footer{
    width: 100%;
} */
     body {
         font-family: 'Roboto', Arial, sans-serif;
         background-color: #e2e2e2;
         margin: 0;
         padding: 0;
         /* display: flex;
         justify-content: center;
         align-items: center; */
         min-height: 100vh;
         margin: 0;
         padding: 0;
         font-size: 16px;

     }

     main {
        margin: 0;
        padding: 0;
         display: flex;
         flex-direction: column;
         /* grid-template-rows: auto; */
         row-gap: 30px;
         overflow-x: hidden;
    background-color: #e2e2e2;
     }

     @media screen and (max-width: 768px) {
        
         body {
            font-family: 'Roboto', Arial, sans-serif;
            background-color: #e2e2e2;
            margin: 0;
            padding: 0;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            /* min-height: 100vh; */
            margin: 0;
            padding: 0;
            font-size: 14px;
   
        }
     }

     /* Adjust font sizes for other elements as needed */