/*
        <!-- section 4 things to do part -->

*/

#user-experience {
     margin-bottom: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0px 35px;
 }

 .experience-head {
     text-align: center;
     padding: 10px;
 }

 .experience-head h2 {
     text-transform: capitalize;
     margin-bottom: 10px;
     font-weight: 800;
     font-size: 35px;
     letter-spacing: 1px;
     word-spacing: 5px;
 }

 .experience-head p {
     letter-spacing: 1px;
     word-spacing: 5px;
 }

 .experience-card-grid-parent {
    max-width: 1100px;
    width: 100%;
    position: relative;
    padding: 0px 30px;
/* 
     display: grid;
     grid-template-columns: 1fr;
     height: 600px;
     justify-content: center;
     align-items: center;
     padding: 15px 3px;
      */
 }

 .experience-card-grid-parent i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
   background-color: #fff;
   cursor: pointer;
   position: absolute;
   /* top: 50%; */
   bottom: -80px;
   font-size: 1.25rem;
   transform: translateY(-50%);
   box-shadow: 0 3px 6px rgba(0,0,0,0.23);
 }
 /* .experience-card-grid-parent i:first-child{
    background-color: red;
     } */
     .left-i{
        right: 80px;
     }
    .experience-card-grid-parent i:last-child{
    right: 10px;
    /* background-color: red; */

     }

     .experience-card-grid-parent .experience-card-grid {
display: grid;
grid-auto-flow: column;
grid-auto-columns: calc((100% / 2 ) - 12px);
gap: 16px;
overflow-x: auto;
scroll-snap-type: x mandatory;
scrollbar-width: 0;
/* overflow: hidden; */
scroll-behavior: smooth;
 }
 .experience-card-grid::-webkit-scrollbar {
    display: none;
 }
 .experience-card-grid {
    margin-top: 60px;
    /* z-index: -1; */
 }
 /* .experience-card-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 20px;
     justify-content: space-around;
     padding: 5px 30px;
     margin-top: 40px;
 } */
 .experience-card-grid .experience-card {
    scroll-snap-align: start;

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;


 }
 .experience-card-grid.dragging{
    scroll-behavior: auto;
    scroll-snap-type: none;
 }
 .experience-card-grid.dragging  .experience-card {
    cursor: grab;
    user-select: none;
  }
 .experience-card {
     background-color: rgb(199, 188, 188);
     border-radius: 5px;
     width: 420px;
     display: flex;
     flex-direction: column;
     /* z-index: 1; */
     /* height: 300px; */
 }

 .experience-card-logo {
     margin-top: 5px;
     margin-left: -280px;
     /* position: absolute; */
     /* overflow: hidden; */
     /* z-index: ; */
 }

 .experience-card-logo img {
     border-radius: 25px;
     height: 50px;
     width: 50px;
 }

 .experience-card-details {
     display: flex;
     flex-direction: column;
     padding: 10px 20px;
     /* margin-top: 30px; */

 }

 .review-p-1 {
     color: grey;
     font-size: 13px;
     /* width: 390px; */
 }

 .review-p-2 {
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .review-p-2 img {
     height: 16px;

 }

 .review-p-3 {
     color: grey;
 }

 .review-p-3 span {
     font-size: 13px;
 }

 @media screen and (max-width: 800px)
 {
      .experience-card-grid-parent .experience-card-grid {
grid-auto-columns: calc((100% / 1) - 9px);
 }
 .experience-card-grid-parent {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #user-experience {
    background-color: green;
} */
 }
 @media screen and (max-width: 600px)
 {
      .experience-card-grid-parent .experience-card-grid {
grid-auto-columns: 100%;
 }
 .experience-card-grid-parent {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 }